@* Views/Shared/_RecentSearches.cshtml *@
<section class="mt-5">
    <h3>Últimas búsquedas</h3>
    <ul class="list-group">
        <li class="list-group-item">Origen: Ciudad A - Destino: Ciudad B</li>
        <li class="list-group-item">Origen: Ciudad C - Destino: Ciudad D</li>
        <li class="list-group-item">Origen: Ciudad E - Destino: Ciudad F</li>
    </ul>
</section>
